.ContactPage {
    background-image: url('../img/Background1.jpg');
    background-size: 100% 100%;
    height: 100%;
    margin: -10px 0 0 0;
    padding-top: 100px;
}

.ContactForm {
    width: 310px;
    text-align: left;
    margin: auto;
    padding: 10px 10px 0 10px;
    background-color: #d3d3d354;
}

.ContactLabel {
    color: White;
    font-size: 20px;
    margin:  0 50px 0 0;
}

.ContactInput {
    float: right;
    border-radius: 20px;
    padding-left: 5px;
}

.ContactText {
    width: 100%;
}

.ContactBtn {
    background-color: Gray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}