.CouroselPage {
    background-image: url('../IMG/Background2.jpg');
    background-size: 100% 100%;
    height: 100%;
    margin: 0 0 0 0;
    /*padding-top: 100px;*/
}

.CouroselMain {
    width: 80%;
    margin: auto;
}

.carousel-item {
    height: 200px;
    width: 100%;
}

carouselItemImg {
    height: 200px;
    width: 100%;
}

.carouselInfo{
    background-color: #f8f9fa80;
    margin: 0 0 0 0;
}

 .imgStyle {
     height: 200px;
     width: 200px;
 }
